{% extends 'base.html' %}
{% block content %}

<h3>{{ child }}</h3>
{% if not request.user.is_authenticated %}
{% if active %}
<form class="" action="{% url 'stay_update_view' current.id %}" method="post">
  {% csrf_token %}
  <input type="submit" name="" value="PICK UP" class="btn btn-success btn-md">
</form>

{% else %}
<form class="" action="{% url 'stay_create_view' child.id %}" method="post">
  {% csrf_token %}
  <input type="text" name="notes" value="">
  <input type="submit" name="" value="DROP OFF" class="btn btn-success btn-md">
</form>
{% endif %}
{% endif %}

<hr>
<br>
{% for stay in old %}
<div class="panel childdetail panel-default">
  Drop Off: {{ stay.in_time }}<br>
  Pick Up: {{ stay.out_time }}<br>
  Time: {{ stay.str_dif }} hours<br>
</div>



{% endfor %}




{% endblock %}
