.codebox {
  font-size: 60px;
  width: 300px;
  height: 100px;
  border-left: 20px;
}

.blank {
  height: 30vh;
}
.btn-lg {
  height: 100px;
  width: 300px;
}

.pin label {
  display: inline-block;
  float: left;
  font-size: 30px;
  border-right: 5px;
}

.side {
  height: 100vh;
}

.pin {
  text-align: center;
  background-color: lightgrey;
  border: 15px solid black;
  border-radius: 20px;
}

.pin input[type="text"] {
            position: relative;
            display: block;
            margin : 0 auto;
       }
.wrappin {
  border: 3px solid white;
  border-radius: 20px;
}

.inpin {
  border: 3px solid white;
  border-radius: 1px;
}
.backindex {
  background-color: darkgrey;
}

.loginback {
  background-color: darkblue;
  color: white;
}
.loginback input {
  height: 50px;
  width: 200px;
  font-size: 24px;
}

.kidslist {
  height: 40vh;
  font-size: 20px;
}

.panel {
    background-color: #e6ffff;
    text-align: center;
}

.childdetail {
  text-align: left!important;
  width: 400px!important;
  font-size: 24px;
}

.bold {
  font-weight: 200;
}

.button-box {
  height: 70vh;
  background-color: lightgrey;
  padding-top: 10vh;
  text-align: center;
}
.moveright {
  padding-left: 140px;
}
.addchild {
  height: 20vh;
  font-size: 36px;
  padding-top: 20px;
  border: 3px solid #99ffff;
  text-align: center;
  background-color: #ccffff;
}

.active-faculty {
  height: 40vh;
  border: 3px solid #99ffff;
  text-align: center;
  background-color: #ccffff;
}

.blank-faculty {
  height: 10vh;
}

.children-list {
  border: 3px solid #99ffff;
  text-align: left;
  background-color: #ccffff;
  font-size: 16px;
}

.children-list h2 {
  text-align: center;
}
