{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav navbar-nav">
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'user_create_view' %}">Create User</a></li>
      <li><a href="{% url 'faculty_view' %}">Faculty</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      <li><a href="{% url 'profile_view' %}">Profile</a></li>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-md-5">
    <div class="row kidslist">
      <h3>Children Pages</h3>
      {% for x in kids %}
      <a href="{% url 'child_detail_view' x.id x.code %}">{{ x }}</a><br>
      {% endfor %}
    </div>
    <div class="row">
      <h3>Total Hours/Minutes Booked</h3>
      <h4>{{ total }}:{{ minutes }}</h4>
    </div>

  </div>
  <div class="col-md-7">
    <h3>Recent Stays</h3>
    {% for x in find %}
    {% for stay in x %}
    {{ stay.child }}<br>
    {{ stay.day }}
    {{ stay.str_dif }} hours<hr>
    {% endfor %}
    {% endfor %}

  </div>

</div>




{% endblock %}
